<ion-app>

	<!-- this function like header tag in html5 -->
	<ion-toolbar color=tertiary>
		<ion-buttons slot="start">
			<ion-menu-toggle>
				<ion-button>
					<ion-icon name="home"></ion-icon>
				</ion-button>
			</ion-menu-toggle>
		</ion-buttons>
		<ion-title>
			Component Documentation
		</ion-title>
	</ion-toolbar>

	<!-- this is will hold the split pane -->
	<ion-content>
		<ion-card>
			<img src="https://i.imgur.com/OVr4YLE.png" />
			<ion-card-header>
				<ion-card-subtitle>Joaquín</ion-card-subtitle>
				<ion-card-title>Card Title</ion-card-title>

			</ion-card-header>

			<ion-card-content>
				Manager
			</ion-card-content>

		</ion-card>
		<ion-button (click)="  handleButtonClick() ">Default</ion-button>
	</ion-content>

</ion-app>